* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #141e30, #243b55);
  }
  .container {
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 300px;
    margin: 10px;
  }
  .container form {
    display: flex;
    flex-direction: column;
  }
  input {
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
  }
  button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #27ae60;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s;
  }
  button:hover {
    background: #2ecc71;
  }
  @media (max-width: 768px) {
    body {
      flex-direction: column;
    }
  }
  h4{
      margin-top:10px;
      color: white;
  }
  h4 a{
      text-decoration: none;
      color: #2ecc71;
  }
  h1{
      color: white;
  }
  span{
    color: red;
  }
  