body {
    margin:0px;
    padding:0px;
  }
  * {
    font-family: sans-serif;
    margin:0;
    padding:0;
  }
  .navbar {
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.24);
    
    
    position:fixed;
    top:0px;
    width:100%;
    z-index:1;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 10px;
  }
  .navbar li {
    font-size: 20px;
    margin: 20px;
    list-style-type: none;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.71);
    text-decoration: none;
    cursor: pointer;
    transition: underline 0.7s ease-in-out, color;
  }
  .navbar li:hover {
    color: rgba(0, 26, 255, 0.829);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
  }
  .edufun-logo {
    margin-right: auto;
  }
  .edufun-logo img {
    height: 70px;
  }
  #logo-heading {
    height: 50px;
  }
  .ham-nav {
    display: none;
    flex-direction: column;
    background-color: antiquewhite;
    border: none;
    width: 100%;
    height: 200px;
    top:65px;
    position: absolute;
    box-shadow: 0 10px 10px -5px rgba(0, 0, 0, 0.24);
  }
  .ham-nav ul {
    border: 2px solid gray;
    background-color: rgba(165, 203, 250, 0.183);
    backdrop-filter: blur(10px);
    width: 70%;
    display: block;
    margin: 10px auto;
    border-radius: 10px;
  }
  .ham-nav li {
    list-style: none;
    margin: 10px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.71);
    transition: color 0.3s ease-in-out;
  }
  .ham-nav li:hover {
    color: rgba(0, 26, 255, 0.829);
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-underline-offset: 5px;
  }
  .show {
    display: flex;
  }
  @media (max-width: 700px) {
    .edufun-logo img {
      height: 50px;
    }
    #logo-heading {
      height: 40px;
    }
    .edufun-logo {
      display: flex;
    }
    .navbar li {
      display: none;
    }
    .navbar {
      box-shadow: none;
    }
    .hamburger button {
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid gray;
      border-radius: 10px;
      margin-right:15px;
    }
    .hamburger img {
      height: 35px;
      width: 35px;
      margin-top: 5px;
    }
  }
  @media (min-width: 701px) and (max-width: 880px) {
    .hamburger {
      display: none;
    }
    .edufun-logo img {
      height: 40px;
    }
    #logo-heading {
      height: 40px;
    }
    .navbar li {
      margin: 7px;
    }
    .edufun-logo {
      display: flex;
    }
    .ham-nav li {
      display: none;
    }
    .ham-nav{
        display: none;
    }
  }
  @media (min-width: 700px) and (max-width: 1024px) {
    .hamburger {
      display: none;
    }
    .ham-nav li {
      display: none;
    }
    .ham-nav{
        display: none;
    }
  }
  @media (min-width: 1024px) {
    .hamburger {
      display: none;
    }
    .ham-nav li {
      display: none;
    }
    .ham-nav{
        display: none;
    }
  }
